label(for="emailAdd-input") E-mail address:
input(id="emailAdd-input", name="emailAdd", type="email", placeholder="someone@something.com", pattern="[^ @]*@[^ @]*", required)
button(type="submit", value="default").shadow Tea me up!
