extends layout

block content
  div#content
    h1= settings.title
    h2 
      span.cupCount #{teaCounter}
      |  cups in the brew queue
    p It appears that 
      span.statusText
        include partials/statusText
      |  a cup of tea.
      form(action="/choose", method="POST")
        button(type="submit", value="default").shadow I changed my mind!
