@import 'nib'

@font-face 
    /* This declaration targets Internet Explorer */
    font-family: 'FuturaStdBoldOblique';
    src: url('/fonts/futurastd-boldoblique-webfont.eot');

@font-face
    /* This declaration targets everything else */
    font-family: 'FuturaStdBoldOblique';
    src: url(//:) format('no404'), url('/fonts/futurastd-boldoblique-webfont.woff') format('woff'), url('/fonts/futurastd-boldoblique-webfont.ttf') format('truetype'), url('/fonts/futurastd-boldoblique-webfont.svg#FuturaStdBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

$bodyFont = "Helvetica Neue", Arial, sans-serif


html
  background #DDD
  padding 3em
body
  background #FFF
  padding 3em
  font 1.32em $bodyFont
  color #666
for $level in 1..6
  h{$level}
    $size = (50% * (6 - $level)) * 1em
    margin-top .5em
    margin-bottom .5em
    if $level > 1
      font-family "FuturaStdBoldOblique", sans-serif
      font-size $size
      line-height 1em
    else
      font-size $size * 2
      font-weight bolder
      line-height .25em
      letter-spacing -0.05em
  
a
  color #00B7FF
button
  font .75em $bodyFont
  $bgCol = #999
  cursor pointer
  margin 0
  border 0
  padding .5em
  border-radius 3px
  border-top 1px solid ($bgCol + #333)
  background #FFF
  color $bgCol + #111 - rgba(0,0,0,0.2)

form
  transition opacity .15s
  opacity 1
  &[disabled]
    opacity .45
  input
    display block
    padding .25em
    width 200px
    font-size: 14px
    margin 0.4em 0
    border-radius 3px
    border 1px solid #CCC

#content
  position relative
  z-index 1

.shadow
  $shadowAngle = 6deg
  position relative
  box-shadow 0 0 2px rgba(20,20,20,0.45) inset,0 0 2em rgba(0,0,0,0.1) inset
  border-top 0
  border-right 0
  border-bottom 0
  border-left 0
  &:before
    z-index -2
    box-shadow 0 .45em 1em rgba(0,0,0,0.3)
    border-radius 100px / 10px
    background transparent
    position absolute
    $shadowPad = 5px
    left $shadowPad
    right $shadowPad
    top 0
    bottom 25%
    content ""
    //transform rotate($shadowAngle)
  body&:before
    bottom 5%
    top 0

h2
  overflow hidden
  height 1em
  padding 0.2em 0 
  position relative
  top 0px
  clip rect(0 0 0 0)
  letter-spacing -2px
  &:after 
    display block
    box-shadow 0 0 10px #FFF inset
    z-index 1
    content ""
    position absolute
    width 100%
    height 100%
    top 0
    left 0
  .cupCount
    display inline-block
    overflow visible
    margin-right -4px
    &.countOut
      animation-duration .2s
      animation-name countOut
    &.countIn
      animation-duration .2s
      animation-name countIn

@keyframes countOut
  0%
    transform translateY(0px)
  35%
    transform translateY(40px)
  100%
    transform translateY(50px)

@keyframes countIn
  0%
    transform translateY(-50px)
  35%
    transform translateY(-10px)
  100%
    transform translateY(0px)

